[Desktop Entry]
Type=Application
Name=xEdit
Comment=Elder Scrolls and Fallout plugin editor (Rust port)
Exec=xEdit
Icon=xedit
Terminal=false
Categories=Game;Utility;
MimeType=
