#############
## Rust
#############
rust-core/target/

#############
## Qt6 C++ GUI
#############
qt-gui/build/
qt-gui/.cache/

#############
## CMake / nifly build
#############
rust-core/xedit_nif/nifly_wrapper/build/

#############
## OS / Editor
#############
*.bak
*.swp
*~
.DS_Store
Thumbs.db
Desktop.ini
